<div class='floatBox'>
<h1>Settings</h1>
<%= render partial: 'layouts/flash' %>
<div class="dropdown dd-loadBlog">

<button class='btn btn-primary' data-toggle='dropdown'>
	<% if @blog %>
	<span data-saver-sync='edit_blog_title'><%= @blog.title%> </span>
	<% else %>
		<i> No active Blog</i>
	<% end %>
	<span class='caret'></span></button>
	  <ul class="dropdown-menu pull-right" role="menu2">
	  	<% @allRoles.each do |r| %>
	  		<% if !@blog || r.blog_id != @blog.id %>
	  		<li><%= link_to r.blog.title,  load_blog_path(r.blog_id), :method => :patch %></li>
	  		<% end %>
	  	<% end %>
	  	<li class='divider'></li>
	  	<li><%= link_to "Create New", new_blog_path %></li>
	  </ul>
</div>


<!-- Nav tabs -->
<ul id='settingsTabs' class="nav nav-tabs" role="tablist">
<% if @blog %>
  <li><a href="#blogInfo" role="tab" data-toggle="tab">Blog Info</a></li>
  <li><a href="#users" role="tab" data-toggle="tab">Users</a></li>
 <% end %>
  <li><a href="#profile" role="tab" data-toggle="tab">My Profile</a></li>
<% if @current_user.has_open_invites? %>
   <li>  
        <div class='open_invites_badge' class='open_invites_badge'> <%= @current_user.open_invites_count %></div>
        <a style='padding-right: 30px' href="#invites" role="tab" data-toggle="tab">Invites</a>
    </li>
  <% end %>
</ul>

<!-- Tab panes -->
<div class="tab-content">
<% if @blog %>
  <!-- blog info --> 
  <div class="tab-pane" id="blogInfo">
  	<p><br/>You are a <em><%= @current_user.current_role_text %></em> on this blog.
      <% if !@current_user.is_creator? %>
      Click  <%= link_to "here", blog_role_path(@blog.id, @myRole.id), :method => :delete, data: { confirm: 'Are you sure?' } %> to leave the blog.
      <br/> <br/>
      <% else %>
      Click <%= link_to "here", blog_path(@blog.id), :method => :delete, data: { confirm: 'This will remove the blog, as well as associated member roles and posts. Are you sure?' } %> to delete blog.
      <% end %>
      </p>
     <% if @current_user.current_role == Role::CREATOR %> 
    	<%= form_for @blog, remote: true, :html => {:role => "form"} do |f| %>	
      	 <div class="form-group">
        <%= f.text_field :title, :class => "bigger", :placeholder => @current_user.first_name+"'s blog", :autocomplete => 'off' %>
    	  </div>
    	  <div class="form-group">
    	    <%= f.text_area :description, :class => "autosize smaller", :placeholder => "Description",  :autocomplete => 'off'%>
    	  </div>
      	<% end %>
        <% else %>
            <div style='width: 300px; margin:0px auto'>
    <p class='bigger'><%= @blog.title %></p>
    <p class='smaller'><%= @blog.description %></p>
    </div>

    <% end %>
  </div>

  <!-- users in blog --> 
  <div class="tab-pane" id="users">
    <% if @current_user.current_role > Role::CONTRIBUTOR %> 
    	<%= form_for [@blog, @role], remote: true, :data => { :success_callback => "addUserSuccess"}, :html => {:role => "form"} do |f| %>	
      	<%= render partial: 'layouts/form_error', locals: {:_model => @role} %>
      	 <div class="form-group">
          <span id='newuser_role' class='<%= "disabled" if !@current_user.is_creator? %> has_tooltip' title='Invite as Collaborator. <%= "Click to change." if @current_user.is_creator? %>'  style='position: relative; '>
            <span class='newuser_moderator' style='position: absolute; top: -2px; font-size:8px; font-weight: bold; left:-8px; display: none'>M</span>
        		<span class='icon btn-inline glyphicon glyphicon-user' style='margin-top: 8px; margin-right: 15px'>
            </span>
          </span>
          <%= f.hidden_field :role, :value => 0,  :autocomplete => 'off', :data => {:noAutoSubmit => true }  %>
           <%= f.text_field :email, :placeholder => "Enter Email", :autocomplete => 'off', :data => {:noAutoSubmit => true }  %>

      		<%= f.submit "+", :class => "btn btn-primary btn-inline icon" %>

      	</div> 
    	<% end %>
    <% end %>
    <div class='users_table'>
      <table>
        <% @allUsers.order([:active, :role]).reverse.each do |u| %>
            <tr class='<%= Role::STATUS_TEXT[u.active].downcase  %>' <%= "style='font-weight: bold'".html_safe if (u.user && is_current?(u.user))  %> >
              <td >
                  <% if is_current? u.user %>
                      <%= image_tag  @current_user.gravatar_url, :class => "gravatar_sm"  %> 
                 <% else %>
                    <%= image_tag  User::gravatar_url(u.email||u.user.email), :class => "gravatar_sm" if u.email||u.user.email %> 
                  <% end %>

                <% userName =  u.user ? is_current?(u.user) ? "You" : u.user.full_name : @current_user.is_creator? ? u.email : u.email.split("@")[0]+"@ ... " %> 
                <%= !u.user ? userName : link_to(userName, u.user, :class => "nolink", :target => "_blank") %>
               <% if @current_user.can_edit_role?(u) && !is_current?(u.user) %>
                <%= link_to "", blog_role_path(@blog.id, u.id), :method => :delete, data: { confirm: 'Are you sure?' }, :class => 'icon delete_icon glyphicon glyphicon-remove' %>
               <% end %>
              </td>
              <td>
                <span class='role_name'><%= Role::ROLE_TEXT[u.role] %> </span>

                <% if @current_user.can_edit_role?(u) && !is_current?(u.user) %>
                  <%= form_for [@blog, u], remote: true, :data => { :success_callback => "changeRoleSuccess"}, :html => { :role => "form"}  do |f| %>
                  <%= f.hidden_field :role,  :autocomplete => 'off'  %>
                  <span class='changeRole_icon icon glyphicon glyphicon-wrench'></span>
                  <% end %>
                <% end %> </td>
              <td>
               <% if @current_user.can_edit_role?(u) && u.active==0 %>
                  <span class='zeroClipboard glyphicon glyphicon-paperclip has_tooltip' title='Copy Invite URL to clipboard' data-clipboard-text='<%= invite_url (u.token) %>'></span>
               <% end %>
                <i><%= Role::STATUS_TEXT[u.active] %></i>
              </td>
            </tr>
        <% end %>
      </table>
    </div>
  </div>


 <% end %>
  <!-- profile --> 
  <div class="tab-pane" id="profile">
  	<%= image_tag @current_user.gravatar_url, :class => 'gravatar has_tooltip wiggler', :data => {:placement => "right"} ,:title => "Change profile image via gravatar.com." %>
  	<%= form_for @current_user, :url => user_path(@current_user.id), remote: true,  :html => {:role => "form"} do |f| %>	
  	 <div class="form-group">
    <%= f.text_field :first_name, :placeholder => "First Name", :autocomplete => 'off' %>
	  </div>
	  <div class="form-group">
	    <%= f.text_field :last_name, :placeholder => "Last Name",   :autocomplete => 'off'%>
	  </div>
	  <div class="form-group">
	    <%= f.text_area :about, :class => "autosize smaller", :placeholder => "A little bit about me..",   :autocomplete => 'off'%>
	  </div>
  	<% end %>
  </div>

  <!-- invites -->
  <% if @current_user.has_open_invites? %>
   <div class="tab-pane" id="invites">
    <p>
      <br/>
      You have <%= @current_user.open_invites_count %> open <%= "invite".pluralize @current_user.open_invites_count %>.
      </p> 

       <div >
      <table class='invites-table'>
        <% @current_user.open_invites.each do |i| %>
            <tr class='<%= Role::STATUS_TEXT[i.active].downcase  %>'>
              <td><%=  image_tag  i.blog.user.gravatar_url, :class => "gravatar_sm" %> <b><%= i.blog.user.first_name.capitalize %></b> invites you to be a <b><%= Role::ROLE_TEXT[i.role] %></b> on '<%=i.blog.title %>'  </td>
              <td>
                     <%= link_to "", accept_invite_path(i.token), :class=>"icon glyphicon glyphicon-ok has_tooltip", :title =>"Join" %>
                     <%= form_for i, url: deny_invite_path(i.token), :html => {:class => "inline"} do |f| %>
                      <%= f.hidden_field :active, value: -1 %>
                      <span class="icon glyphicon glyphicon-remove has_tooltip" title ="Deny" data-input='submit' ></span>
                     <% end %>
                </td>
            </tr>
        <% end %>
      </table>
    </div>

   </div>
  <% end %>

</div>
</div>
